<!doctype html>
<html lang="en">
  <head>
  <title>Braniac</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <title>Braniac</title>
</head>
  <body style="background-color: #D3D3D3">

    <nav class="navbar navbar-inverse">
        <a class="navbar-brand" href="/" align='left'>Braniac</a>
         <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
    </div>
      <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-left">
        <li><a href="/logout"><span class="glyphicon glyphicon-user"></span> Log Out</a>
      </li>
    </ul>
  </div>
</div>
    </nav>

    {% block body %}
    
    {% endblock %}
    
  </body>
</html>